# Reproducible Python 3.12 environments for the study workstation and Betty.
# Linux/x86_64 pins NVIDIA TensorFlow 25.02 plus hpc/betty's overlay; other
# platforms retain the original workstation protocol.
absl-py==2.4.0; sys_platform != "linux" or platform_machine != "x86_64"
absl-py==1.0.0; sys_platform == "linux" and platform_machine == "x86_64"
astunparse==1.6.3
certifi==2026.2.25; sys_platform != "linux" or platform_machine != "x86_64"
certifi==2024.12.14; sys_platform == "linux" and platform_machine == "x86_64"
charset-normalizer==3.4.6; sys_platform != "linux" or platform_machine != "x86_64"
charset-normalizer==3.4.1; sys_platform == "linux" and platform_machine == "x86_64"
contourpy==1.3.3
cycler==0.12.1
flatbuffers==25.12.19; sys_platform != "linux" or platform_machine != "x86_64"
flatbuffers==24.3.25; sys_platform == "linux" and platform_machine == "x86_64"
fonttools==4.62.1
gast==0.7.0; sys_platform != "linux" or platform_machine != "x86_64"
gast==0.4.0; sys_platform == "linux" and platform_machine == "x86_64"
google-pasta==0.2.0
grpcio==1.80.0; sys_platform != "linux" or platform_machine != "x86_64"
grpcio==1.62.1; sys_platform == "linux" and platform_machine == "x86_64"
h5py==3.16.0; sys_platform != "linux" or platform_machine != "x86_64"
h5py==3.10.0; sys_platform == "linux" and platform_machine == "x86_64"
idna==3.11; sys_platform != "linux" or platform_machine != "x86_64"
idna==3.10; sys_platform == "linux" and platform_machine == "x86_64"
joblib==1.5.3; sys_platform != "linux" or platform_machine != "x86_64"
joblib==1.4.2; sys_platform == "linux" and platform_machine == "x86_64"
keras==3.13.2; sys_platform != "linux" or platform_machine != "x86_64"
keras==3.3.2; sys_platform == "linux" and platform_machine == "x86_64"
kiwisolver==1.5.0
libclang==18.1.1; sys_platform != "linux" or platform_machine != "x86_64"
libclang==16.0.0; sys_platform == "linux" and platform_machine == "x86_64"
lightgbm==4.6.0
Markdown==3.10.2; sys_platform != "linux" or platform_machine != "x86_64"
Markdown==3.7; sys_platform == "linux" and platform_machine == "x86_64"
markdown-it-py==4.0.0; sys_platform != "linux" or platform_machine != "x86_64"
markdown-it-py==3.0.0; sys_platform == "linux" and platform_machine == "x86_64"
MarkupSafe==3.0.3; sys_platform != "linux" or platform_machine != "x86_64"
MarkupSafe==3.0.2; sys_platform == "linux" and platform_machine == "x86_64"
matplotlib==3.10.8
mdurl==0.1.2
ml_dtypes==0.5.4; sys_platform != "linux" or platform_machine != "x86_64"
ml_dtypes==0.3.2; sys_platform == "linux" and platform_machine == "x86_64"
namex==0.1.0; sys_platform != "linux" or platform_machine != "x86_64"
namex==0.0.8; sys_platform == "linux" and platform_machine == "x86_64"
numpy==2.0.2; sys_platform != "linux" or platform_machine != "x86_64"
numpy==1.26.4; sys_platform == "linux" and platform_machine == "x86_64"
opt_einsum==3.4.0; sys_platform != "linux" or platform_machine != "x86_64"
opt_einsum==3.3.0; sys_platform == "linux" and platform_machine == "x86_64"
optree==0.19.0; sys_platform != "linux" or platform_machine != "x86_64"
optree==0.14.0; sys_platform == "linux" and platform_machine == "x86_64"
packaging==26.0; sys_platform != "linux" or platform_machine != "x86_64"
packaging==23.2; sys_platform == "linux" and platform_machine == "x86_64"
pandas==3.0.1
pillow==12.1.1
protobuf==5.29.6; sys_platform != "linux" or platform_machine != "x86_64"
protobuf==4.25.3; sys_platform == "linux" and platform_machine == "x86_64"
Pygments==2.20.0; sys_platform != "linux" or platform_machine != "x86_64"
Pygments==2.19.1; sys_platform == "linux" and platform_machine == "x86_64"
pyparsing==3.3.2; sys_platform != "linux" or platform_machine != "x86_64"
pyparsing==3.2.1; sys_platform == "linux" and platform_machine == "x86_64"
python-dateutil==2.9.0.post0
requests==2.33.1; sys_platform != "linux" or platform_machine != "x86_64"
requests==2.32.3; sys_platform == "linux" and platform_machine == "x86_64"
rich==14.3.3; sys_platform != "linux" or platform_machine != "x86_64"
rich==13.9.4; sys_platform == "linux" and platform_machine == "x86_64"
scikit-learn==1.8.0; sys_platform != "linux" or platform_machine != "x86_64"
scikit-learn==1.5.2; sys_platform == "linux" and platform_machine == "x86_64"
scipy==1.17.1; sys_platform != "linux" or platform_machine != "x86_64"
scipy==1.12.0; sys_platform == "linux" and platform_machine == "x86_64"
setuptools==82.0.1; sys_platform != "linux" or platform_machine != "x86_64"
setuptools==70.3.0; sys_platform == "linux" and platform_machine == "x86_64"
six==1.17.0; sys_platform != "linux" or platform_machine != "x86_64"
six==1.16.0; sys_platform == "linux" and platform_machine == "x86_64"
tensorboard==2.18.0; sys_platform != "linux" or platform_machine != "x86_64"
tensorboard==2.17.1; sys_platform == "linux" and platform_machine == "x86_64"
tensorboard-data-server==0.7.2
tensorflow==2.18.1; sys_platform != "linux" or platform_machine != "x86_64"
tensorflow==2.17.0+nv25.2; sys_platform == "linux" and platform_machine == "x86_64"
tensorflow-metal==1.2.0; sys_platform == "darwin"
termcolor==3.3.0; sys_platform != "linux" or platform_machine != "x86_64"
termcolor==1.1.0; sys_platform == "linux" and platform_machine == "x86_64"
threadpoolctl==3.6.0; sys_platform != "linux" or platform_machine != "x86_64"
threadpoolctl==3.5.0; sys_platform == "linux" and platform_machine == "x86_64"
typing_extensions==4.15.0; sys_platform != "linux" or platform_machine != "x86_64"
typing_extensions==4.12.2; sys_platform == "linux" and platform_machine == "x86_64"
urllib3==2.6.3; sys_platform != "linux" or platform_machine != "x86_64"
urllib3==2.0.7; sys_platform == "linux" and platform_machine == "x86_64"
venn-abers==1.5.3
Werkzeug==3.1.7; sys_platform != "linux" or platform_machine != "x86_64"
Werkzeug==3.1.3; sys_platform == "linux" and platform_machine == "x86_64"
wheel==0.46.3; sys_platform != "linux" or platform_machine != "x86_64"
wheel==0.45.1; sys_platform == "linux" and platform_machine == "x86_64"
wrapt==2.1.2; sys_platform != "linux" or platform_machine != "x86_64"
wrapt==1.16.0; sys_platform == "linux" and platform_machine == "x86_64"
